header {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

header .header-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  max-width: 1900px;
  margin: 0 auto;
}

header .header-container__logo {
  display: flex;
  width: 232px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

header .header-container__cart {
  display: flex;
  padding-right: 0;
  align-items: center;
  gap: 16px;
}

.header-container__cart div {
  color: #023A6B;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

a.header-container__cart {
  text-decoration: none;
}
