<header>
  <div class="header-container">
    <a class="header-container__logo" href="/">
      <img src="assets/icons/logo.svg" alt="logo-velonce">
      <img src="assets/icons/logo-text.svg" alt="logo-text">
    </a>
    <a routerLink="/shopping-cart" class="header-container__cart">
      <img src="assets/icons/empty-cart.svg" alt="empty-cart">
      <div>Shopping <br/> Cart</div>
      <div class="cart-item-count"
           style="font-size: 20px; font-weight: 900; position: relative; right: 141px; top: 7px; color: #ff7733;">0
      </div>
    </a>
  </div>
</header>
