<div class="coffee-catalog__item">
  <img [src]="product?.img" alt="coffee-image"
       class="coffee-catalog-item__image latte-image">
  <div *ngIf="product?.rotateImg">
    <img [src]="product.rotateImg" alt="rotate" class="coffee-catalog-item__image rotate">
  </div>
  <div class="item-info">
    <h2 class="item-info__name">{{product?.name}}</h2>
    <div class="item-info__price">${{product?.price}}</div>
  </div>
  <div class="coffee-catalog__radio-group">
    <input type="radio" [(ngModel)]="radioValue"  [id]="product?.radioId1" [name]="product?.radioName" class="radio-input" value="250" [checked]="product.radioValue === '250'">
    <label [for]="product?.radioId1" class="radio-label">250ML</label>

    <input type="radio" [(ngModel)]="radioValue"  [id]="product?.radioId2" [name]="product?.radioName" class="radio-input" value="500" [checked]="product.radioValue === '500'">
    <label [for]="product?.radioId2" class="radio-label">500ML</label>
  </div>
  <div class="checkbox-group">
    <input type="checkbox" [(ngModel)]="checkBoxValue"  [id]="product?.checkBoxName" class="checkbox-input">
    <label [for]="product?.checkBoxName" class="checkbox-label">add sugar</label>
  </div>
  <div class="btn-group">
    <app-button textBtn="add to cart" (click)="addToCart(product)"></app-button>
    <button type="button" class="info-btn" (click)="openPopup()">i</button>
    <aside id="popup" *ngIf="isPopupOpen" [@fadeInOut] class="popup">
      <div class="popup-info">
        <div class="popup-info__item">
          <h2>{{ product?.name }}</h2>
          <div>${{ product?.price }}</div>
        </div>
        <img [src]="product?.img" alt="coffee">
        <div class="line"></div>
        <ul>
          <li *ngFor="let detail of getRegularDetails()">
            <h4>{{ detail.key }}</h4>
            <p>{{ detail.value }}</p>
          </li>
        </ul>
        <div class="line"></div>
        <ul>
          <li *ngFor="let detail of getLastTwoDetails()">
            <h4>{{ detail.key }}</h4>
            <p>{{ detail.value }}mcg</p>
          </li>
        </ul>
        <app-button textBtn="Cool, got it" (click)="closePopup()"></app-button>
      </div>
    </aside>
    </div>
</div>
