* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

body {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

header {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    max-width: 1900px;
    margin: 0 auto;
}

body {
    background-color: #FEF2E8;
}

h1 {
    width: 790px;
    margin-top: 64px;
    text-shadow: 2px 0 3px rgba(0, 0, 0, 0.25);
    font-family: "Eczar", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #023A6B;
    line-height: 120%;
}

h1 span {
    color: #F73;
}

.coffee-catalog {
    margin-top: 64px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(3, 288px);
    grid-gap: 48px;
    justify-content: space-between;
}

.coffee-catalog__item {
    height: 426px;
}

.item-info__name {
    font-family: "Eczar", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #023A6B;
}

.item-info__price {
    display: inline-block;
    border-radius: 16px;
    background: #F73;
    color: #FFF;
    font-family: "Eczar", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 3px 5px;
    align-self: flex-start;
    margin-left: 5px;
}

.item-info {
    display: flex;
}

.coffee-catalog__radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.radio-input {
    display: none;
}

.radio-label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    text-transform: uppercase;
    color: #023A6B;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    font-family: "Open Sans", sans-serif;
}

.radio-label::before {
    content: "";
    flex-shrink: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
}

.radio-input:checked + .radio-label::before {
    background-color: #ff7733;
}

.radio-label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
}


.checkbox-input {
    display: none;
}

.checkbox-label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    text-transform: uppercase;
    color: #023A6B;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    font-family: "Open Sans", sans-serif;
}

.checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 8px;
    border: 3px solid #ffffff;
    width: 24px;
    height: 24px;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: #ff7733;
}

.btn-group {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.add-to-cart-btn {
    height: 48px;
    padding: 16px 24px;
    border-radius: 64px;
    border: 2px solid #FFBD5C;
    color: #023A6B;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.add-to-cart-btn:hover {
    border: 2px solid #FFFFFF;
    color: #FFBD5C;
}

.add-to-cart-btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.info-btn {
    width: 20px;
    height: 20px;
    background-color: #FFBD5C;
    font-family: "Eczar", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    color: #023A6B;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.coffee-catalog__item img {
    max-width: 285px;
    width: 100%;
    margin-bottom: 10px;
}

header .header-container__logo {
    display: flex;
    width: 232px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

header .header-container__cart {
    display: flex;
    padding-right: 0;
    align-items: center;
    gap: 16px;
}

.header-container__cart div {
    color: #023A6B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

a.header-container__cart {
    text-decoration: none;
}

.coffee-catalog__item {
    position: relative;
}

@keyframes arabicCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    width: 120px !important;
    position: absolute;
    top: 115px;
    right: 0;
    transform-origin: center;
    animation: arabicCircle 4s linear infinite;
}
